---
export interface Props {
	title: string;
	ogImage?: string | undefined;
	ogDescription?: string | undefined;
}
import Header from '../header/Header.astro';
import Spaced from '../spaced/Spaced.astro';

const {
	title: propsTitle,
	ogImage: propsImage,
	ogDescription: propsDescription,
	frontmatter,
} = Astro.props;
const title = propsTitle ?? frontmatter?.title;
const image = propsImage ?? frontmatter?.image;
const description = propsDescription ?? frontmatter?.description;

const canonicalURL = new URL(
	Astro.url.pathname.replace(/([^/])$/, '$1/'),
	Astro.site ?? 'https://tools.principlestudios.com'
);

const gitHash = import.meta.env.GIT_HASH ?? 'HEAD';
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-20">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name={`description`} content={description} />
		<meta property={`og:title`} content={title} />
		<meta property={`og:description`} content={description} />
		{
			image ? (
				<meta property={`og:image`} content={new URL(image, Astro.site)} />
			) : null
		}
		<meta property={`og:type`} content={`website`} />
		<meta name={`twitter:card`} content={`summary`} />
		<meta name={`twitter:creator`} content={`@mdekrey`} />
		<meta name={`twitter:title`} content={title} />
		<meta name={`twitter:description`} content={description} />
		<meta name="git-version" content={gitHash} />
		<link rel="canonical" href={canonicalURL} />
	</head>
	<body>
		<div class="h-96 bg-black absolute w-full top-0"></div>
		<Header className="bg-black text-white" />

		<div class="h-10"></div>

		<main class="relative">
			<Spaced className="p-8 bg-white shadow-xl">
				<slot />
			</Spaced>
		</main>
	</body>
</html>
