---
export interface Props {
	title: string;
	ogImage?: string | undefined;
	ogDescription?: string | undefined;
}
import Header from '../header/Header.astro';
import Spaced from '../spaced/Spaced.astro';

import { PullRequestToast } from '../pull-request-toast';

const { title, ogImage, ogDescription } = Astro.props;

const canonicalURL = new URL(
	Astro.url.pathname.replace(/([^/])$/, '$1/'),
	Astro.site ?? 'https://principle.tools'
);

const prId = import.meta.env.PR_ID;
const gitHash = import.meta.env.GIT_HASH ?? 'HEAD';
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-20">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name={`description`} content={ogDescription} />
		<meta property={`og:title`} content={title} />
		<meta property={`og:description`} content={ogDescription} />
		{
			ogImage ? (
				<meta property={`og:image`} content={new URL(ogImage, Astro.site)} />
			) : null
		}
		<meta property={`og:type`} content={`website`} />
		<meta name={`twitter:card`} content={`summary`} />
		<meta name={`twitter:creator`} content={`@mdekrey`} />
		<meta name={`twitter:title`} content={title} />
		<meta name={`twitter:description`} content={ogDescription} />
		<meta name="git-version" content={gitHash} />
		<link rel="canonical" href={canonicalURL} />
	</head>
	<body>
		<div class="h-96 bg-black absolute w-full top-0"></div>
		<Header className="bg-black text-white" />

		<div class="h-10"></div>

		<main class="relative">
			<Spaced className="p-8 bg-white shadow-xl">
				<slot />
			</Spaced>
		</main>

		{isNaN(prId) || !prId ? null : <PullRequestToast prId={prId} />}
	</body>
</html>
